{
  "plugins": [
    "jest",
    "security",
    "jsx-a11y",
    "simple-import-sort"
  ],
  "extends": [
    "airbnb-base",
    "plugin:security/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "simple-import-sort/sort": "error",
    "import/extensions": 2,
    "import/no-unresolved": 2,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 1,
    "max-len": [
      2,
      {
        "code": 135
      }
    ]
  },
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "settings": {
    "import/resolver": "node",
    "import/extensions": [
      ".js",
      ".jsx"
    ]
  }
}